	
.sidetabs
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
    text-align:center;
    border:1px solid black;
    box-shadow: 0px 0px 50px black;
}

.st_0 {
	padding: 0.5% 0;
	font-size: 2em;
	width: 100%;
    padding:38px 38px;
}
tr {
	text-align: center;
	
}


.container, .row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #2e2e2e;
}

.players {
	margin-left: 2em;
}
